<%= form_for [game, guess], html: { class: "guess-form" } do |f| %>
  <%= f.label :guessed_letter, "Guess", class: "sr-only" %>
  <div class="letter-select">
    <%= f.text_field :guessed_letter %>
    <div class="letters" aria-hidden="true">
      <% valid_guesses(game).each do |letter| %>
        <button><%= letter %></button>
      <% end %>
    </div>
  </div>
  <%= f.submit "Guess!" %>
<% end %>
