<h1>Game <%= @game.id %></h1>

<p class="masked-word">
  <% @game.target_word.chars.each do |char| %>
    <span class="letter"><%= @game.guessed?(char) ? char : "" %></span>
  <% end %>
</p>

<% if @game.incorrect_guesses.size > 0 %>
  <%= render "incorrect_guesses", guesses: @game.incorrect_guesses %>
<% end %>

<% if flash.alert %>
  <div class="alert alert-danger"><%= flash.alert.first %></div>
<% end %>

<% if @game.finished? %>
  <% if @game.won? %>
    <div class="alert alert-success">You won!</div>
  <% elsif @game.lost? %>
    <div class="alert alert-danger">
      Better luck next time ... the word was <%= @game.target_word %>
    </div>
  <% end %>
  <p><%= link_to "Go back", new_game_path, class: "button" %></p>
<% else %>
  <%= render "guess_form", game: @game, guess: @game.guesses.new %>
<% end %>
